version: '3.4'

services:
  fmecadb:
    container_name: fmecadb
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin1234
      - POSTGRES_DB=FMECADB
    restart: always
    ports:
        - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  fmeca.api:
    container_name: fmeca.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - 'ConnectionStrings:DBConnection=User ID=admin;password=admin1234;Server=localhost;port=5432;Database=FMECADB;Integrated Security=true;Pooling=true;'
    depends_on:
      - fmecadb
    ports:
      - "8001:80"
      - "443:443"

  portainer:
    container_name: portainer
    restart: always
    ports:
      - "8080:8000"
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data